.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 1.5em;
}

.hexmap-frame {
  padding: 1.5em;
}

.hexmap-header {
  background: #fff;
  color: #1d1d1d;
}
.hexmap-header h1 {
  line-height: 1.2;
  margin-bottom: 0;
}

.hexmap-inner {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.hexmap-summary {
  margin-top: 2rem;
}

.hexmap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60em;
  width: 100%;
}

.hexmap__aside {
  margin-bottom: 1em;
  margin-top: 3em;
  padding: 0 1em;
}

.hexmap__colourbar__inner {
  display: flex;
  height: 2em;
}
.hexmap__colourbar__inner span {
  flex: 1;
}
.hexmap__colourbar__label {
  padding: 0 0.5em;
  text-align: center;
}
.hexmap__colourbar__labels {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25em;
}
.hexmap__colourbar__max {
  transform: translate(25%);
}
.hexmap__colourbar__min {
  transform: translate(-25%);
}
.hexmap__main {
  position: relative;
  z-index: 1;
}
.hexmap__outer {
  animation-duration: 0.3s;
  display: flex;
  height: 0;
  justify-content: center;
  padding-bottom: 90%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.hexmap__outer svg {
  height: 100%;
  width: 100%;
}
.hexmap__outer .hex-cell {
  stroke: black;
  stroke-width: 0;
  transition: fill 0.2s ease-in, stroke 0.2s ease-in, stroke-width 0.2s ease-in;
}
.hexmap__outer .hex-cell.hover {
  stroke-width: 2px;
}
.hexmap__outer .tooltip {
  background: black;
  color: white;
  padding: 0.25em 0.5em;
  position: absolute;
  text-align: center;
  transform: translate3d(-50%,50%,0);
  transition: left 0.1s linear, top 0.1s linear;
  border-radius: 4px;
}
.hexmap__outer .tooltip::after {
  border: 0.5em solid transparent;
  border-bottom-color: black;
  bottom: auto;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translate3d(-50%, -100%, 0);
  width: 0;
}
.hexmap__section {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.hexmap__select {
  background-color: #fff;
  border: 2px solid;
  border-radius: 0.25em;
  font-family: inherit;
  margin-top: 0;
  padding: 0.5em;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  /* Don't bother with labels if it is too small */
  .hexmap__outer .hex-label {
    display: none;
  }
}

@media only screen and (min-width: 32rem) {
  .container {
    padding: 2em;
  }

  .hexmap__aside {
    box-sizing: border-box;
    margin: 0;
    padding: 0 1.5em;
    position: absolute;
    right: 0;
    transform: rotate(-90deg) translate(0, -100%);
    transform-origin: top right;
    top: 0;
    width: 80%;
  }
  .hexmap__colourbar__max {
    transform: translate(50%);
  }
  .hexmap__colourbar__min {
    transform: translate(-50%);
  }
  .hexmap__main {
    padding-right: 60px;
  }
  .hexmap__outer .hex-cell.hover {
    stroke-width: 4px;
  }
  .hexmap__select {
    font-size: 1.25em;
    padding: 0.75em;
  }
}

@media only screen and (min-width: 64rem) {
  .hexmap-body__container {
    display: flex;
    flex-direction: row-reverse;
  }

  .hexmap-summary {
    margin-top: 0;
  }

  .hexmap {
    flex-shrink: 0;
    padding-left: 2rem;
    width: 55%;
  }
}

@media only screen and (min-width: 72rem) {
  .hexmap__selects {
    display: flex;
    justify-content: space-between;
  }
  .hexmap__select {
    width: 49%;
  }
}
